HELP.md
**/target/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/target/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
src/out/production/game/LFU.class
src/out/production/exr1/BookScrabbleHandler.class
src/out/production/exr1/ClientHandler.class
src/out/production/exr1/DictionaryManager.class
src/out/production/game/BloomFilter.class
src/out/production/game/Board.class
src/out/production/game/CacheManager.class
src/out/production/game/CacheReplacementPolicy.class
src/out/production/game/Dictionary.class
src/out/production/game/FileSearcher.class
src/out/production/game/IOSearcher.class
src/out/production/game/LRU.class
src/out/production/game/MainTrain.class
src/out/production/game/ParIOSearcher.class
src/out/production/game/Tile$Bag.class
src/out/production/game/Tile.class
src/out/production/game/Word.class
